body {
    font-family: 'Roboto', sans-serif;
    background-color: #d4e6d4; 
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #2f4f4f;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #f0f8f0; 
}

.search button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #8fbc8f;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.search button:hover {
    background-color: #72a072;
}

main {
    margin-top: 20px;
}

section h2 {
    color: #2f4f4f;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  
}

.movie {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.movie img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie h2 {
    font-size: 18px;
    color: #2f4f4f;
}

.movie p {
    font-size: 14px;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.pagination button:hover {
    background-color: #72a072;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 1s
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8fbc8f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

button:hover,
button:focus {
    background-color: #72a072;
}

.search button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #8fbc8f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.search button:hover,
.search button:focus {
    background-color: #72a072;
}


.pagination button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #8fbc8f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover,
.pagination button:focus {
    background-color: #72a072;
    border-color: #72a072;
}
